Source: 96boards-artwork
Section: x11
Priority: optional
Maintainer: Ricardo Salveti <ricardo.salveti@linaro.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/rsalveti/96boards-artwork.git
Homepage: https://github.com/rsalveti/96boards-artwork

Package: 96boards-artwork
Architecture: all
Depends: linaro-artwork,
         ${misc:Depends}
Description: artwork for 96Boards
 Artwork for 96Boards, contained the wallpaper and others specific images
 and logos.
 .
 This package contains theme of 96Boards.
